.registerForm{
    position: relative;
    top: 160px;
    width: 40%;
    background-color: #fff;
    margin: 0 auto;
    text-align: center;
    height: 750px;
    border: 2px solid silver;
    font-family: 'Noto Sans KR', sans-serif;
}
.inner{
    padding: 0 2em 1em 2em;
    height: 65%;
}
.informationText{
    color: white;
    background-color: #26a69a;
    font-size: 30px;
    margin: 0;
    padding: 20px 0 20px 0;
}
.informationText p {
    margin: 0;
}
.inner input{
    margin-top: 15px;
    margin-bottom: 1px;
    margin-left: 25px;
    float: right;
    width: 80%;
    height: 30px;
    color: slategrey;
    padding-left: 10px;
    font-size: 20px;
}
.information{
    display: flex;
    height: 70px;
    margin: 25px 0 25px 0;
}
.information p{
    position: relative;
    font-size: 20px;
    width: 200px;
}
.submitid{
    width: 95%;
    height: 50px;
    color: black; 
    background-color: #fff;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    border: 2px solid #26a69a;
    transition-duration: 0.5s;
}
.submitid:hover{
    background-color: #26a69a;
    color: white;
}
.informationText h4{
    font-size: 15px;
    margin: 10px 0 0 0;
}
.registerForm p a{
    margin: 0 0 0 5px;
}
@media only screen and (max-width:480px){
    .registerForm{
        top: 200px;
        width: 93%;
        margin: 0 auto;
        height: 590px;
        margin-bottom: 15px;
    }
    .information{
        height: 50px;
        margin: 15px 0;
    }
    .information p{
        font-size: 16px;
        width: 200px;
    }
    .inner input{
        font-size: 16px;
        margin-top: 10px;
    }
    .inner{
        height: 45%;
    }
    .submitid{
        margin-top: 15%;
    }
}
@media only screen and (min-width:481px) and (max-width:767px){
    .registerForm{
        top: 160px;
        width: 70%;
        margin: 0 auto;
        height: 650px;
    }
    .information{
        height: 50px;
        margin: 20px 0;
    }
    .information p{
        font-size: 17px;
        width: 200px;
    }
    .inner input{
        font-size: 17px;
        margin-top: 10px;
    }
    .inner{
        height: 50%;
    }
    .submitid{
        margin-top: 10%;
    }
}
@media all and (min-width:768px) and (max-width:1023px){
    .registerForm{
        top: 160px;
        width: 70%;
        margin: 0 auto;
        height: 670px;
    }
    .information{
        height: 50px;
        margin: 25px 0;
    }
    .information p{
        font-size: 18px;
        width: 200px;
    }
    .inner input{
        font-size: 18px;
        margin-top: 10px;
    }
    .inner{
        height: 55%;
    }
}
@media only screen and (min-width:1024px) and (max-width:1280px){
    .registerForm{
        top: 160px;
        width: 70%;
        margin: 0 auto;
        height: 750px;
    }
    .information{
        height: 50px;
        margin: 40px 0;
    }
    .information p{
        font-size: 20px;
        width: 200px;
    }
    .inner input{
        font-size: 20px;
        margin-top: 10px;
    }
    .inner{
        height: 60%;
    }
}