/* 내용작성 */
#textarea{
    width:90%;
    height: 450px;
    font-size:20px;
    font-family: 'Noto Sans KR', sans-serif;
    padding-left: 5px;
}
/* 질문하기 버튼 */
.askBtn{
    position: relative;
    width: 150px;
    height:50px;
    font-weight: bold;
    font-size: 20px;
    background-color: #efefef;
    padding: 0;
    float: right;
    margin-top: 10px;
    color: black;
    border: 2px solid rgb(108, 192, 145);
    margin-bottom: 2em;
    transition-duration: 0.7s;
}
.askBtn:hover{
    color: white;
    background-color: rgb(108, 192, 145);
}
/* 위에 질문하기 흰색 글 */
.ask{
    width: 100%;
    height: 350px;
    text-align: center;
    margin-top: 5%;
}
.ask::after{
    width: 100%;
    height: 350px;
    content: '';
    position: absolute;
    background: url("../images/askquestion.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
    top: 10%;
    right: 0;
    z-index: -1;
}
.ask h1{
    position: relative;
    color: white;
    top: 40%;
    font-size: 40px;
}
/* 제목과 옵션 선택 부분 */
.askcontainer{
    width: 780px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: left;
    font-family: 'Noto Sans KR', sans-serif;
}
.select{
    position: relative;
    width:100px;
    border:1px solid #999;
    height: 30px;
    margin-right:10px;
}
#title{
    padding-left: 5px;
    width: 90%;
    height: 25px;
    font-family: 'Noto Sans KR', sans-serif;
}
.asktable h2{
    margin: 0;
}
.titlearea{
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    display: flex;
}
.titlearea b{
    width: 30px;
    margin-right: 40px;
}
.optionarea{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #999;
    display: flex;
    margin-bottom: 10px;
}
.optionarea b{
    width: 30px;
    margin-right: 40px;
}
.writetext{
    display: flex;
    padding-bottom: 15px;
    border-bottom: 1px solid #999;
}
.writetext b{
    width: 30px;
    margin-right: 40px;
}