#textarea{
    width:700px;
    height: 450px;
    font-size:25px;
}
.askBtn{
    position: relative;
    width: 150px;
    height:50px;
    font-weight: bold;
    font-size: 20px;
    background-color: #efefef;
    padding: 0;
    float: right;
    margin-top: 10px;
    color: black;
    border: 2px solid rgb(108, 192, 145);
    margin-bottom: 2em;
    transition-duration: 0.7s;
}
.askBtn:hover{
    color: white;
    background-color: rgb(108, 192, 145);
}
.ask{
    width: 100%;
    height: 350px;
    text-align: center;
    margin-top: 5%;
}
.ask::after{
    width: 100%;
    height: 350px;
    content: '';
    position: absolute;
    background: url("../images/askquestion.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
    top: 10%;
    right: 0;
    z-index: -1;
}
.ask h1{
    position: relative;
    color: white;
    top: 40%;
    font-size: 40px;
}
.askBtn a{
    display: inline-block;
    width: inherit;
    height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.askcontainer{
    width: 780px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}
.select{
    position: relative;
    width:100px;
    border:1px solid #999;
    height: 40px;
    margin-right:10px;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
}
.askcontainer table{
    border-top: 2px solid #999;
    border-right: 2px solid #999;
    border-bottom: 2px solid #999;
    padding: 10px;
}
#title{
    width: 99%;
    height: 25px;
    float: left;
}
.asktable{
    display: flex;
}
.asktable tr,.asktable td{
    border: 1px solid #999;
    width: 100px;
}
td button{
    background-color: transparent;
    border: 0;
}
button:focus{
    outline: none !important;
}