.banner{
    width: 100%;
    height: 940px;
    font-size: 50px;
    display: flex;
    position: relative;
    top:0px;
    text-align: center;
}
/* 가상의 화면 */
.banner::after{
    width: 100%;
    height: 940px;
    content: '';
    background: url("../images/MainImage.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
    position: absolute;
    /* 흐리게 */
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
    /* z-index로 뒤로가게끔함 */
    z-index: -1;
}
.SiteExplain{   
    padding: 6em 2em 0em 2em;
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
}
.advantage{
    width: 20%;
    color: white;
    margin-top: 60px;
    font-size: 25px;
    margin-left: 20px;
    margin-right: 20px;
}
.details{
    display: flex;
    justify-content: center;
}
#askbtn{
    display: inline-block;
    background: transparent;
    border-radius: 30px;
    font-size: 25px;
    width: 240px;
    height: 40px;
    color: white;
    border: 2px solid white;
    padding: 10px;
    position: relative;
    bottom: 10px;
    font-weight: bold;
    transition-duration: 0.7s;
}
#askbtn:hover{
    opacity: 0.7;
}
@media only screen and (max-width:480px){
    .banner{
        width: 100%;
        height: 100%;
        font-size: 30px;
    }
    .advantage{
        width: 30%;
        margin-top: 30px;
        font-size: 15px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .SiteExplain{
        font-size: 25px;   
        padding: 8em 1em 2em 1em;
    }
    #askbtn{
        font-size: 18px;
        width: 50%;
        height: 30px;
        padding: 5px;
    }
    .banner::after{
        height: 100%;
    }
}
@media only screen and (min-width:481px) and (max-width:767px){
    .banner{
        width: 100%;
        height: 100%;
        font-size: 22px;
    }
    .advantage{
        width: 30%;
        margin-top: 30px;
        font-size: 12px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .SiteExplain{   
        padding: 6em 2em 2em 2em;
    }
    #askbtn{
        font-size: 12px;
        width: 30%;
        height: 20px;
        padding: 5px;
    }
    .banner::after{
        height: 100%;
    }
}
@media all and (min-width:768px) and (max-width:1023px){
    .banner{
        width: 100%;
        height: 100%;
        font-size: 40px;
    }
    .advantage{
        width: 30%;
        margin-top: 30px;
        font-size: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .SiteExplain{   
        padding: 6em 2em 2em 2em;
    }
    #askbtn{
        font-size: 20px;
        width: 30%;
        padding: 5px;
    }
    .banner::after{
        height: 100%;
    }
}
@media only screen and (min-width:1024px) and (max-width:1280px){
    .banner{
        width: 100%;
        height: 100%;
        font-size: 40px;
    }
    .advantage{
        width: 25%;
        margin-top: 30px;
        font-size: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .SiteExplain{   
        padding: 6em 2em 2em 2em;
    }
    #askbtn{
        font-size: 23px;
        width: 27%;
        padding: 5px;
    }
    .banner::after{
        height: 100%;
    }
}