.mainVideo{
    min-width: 100%;
    width: 100%;
    z-index: -1000;
    overflow: hidden;
    opacity: 0.7;
}
.DescExplain{
    position: absolute;
    top: 140%;
    font-size: 35px;
    text-align: center;
    max-width: 65em;
    width: 100%;
    line-height: 1.5;
    color: white;
    opacity: 0;
    z-index: 1;
}
.goBoard{
    position: relative;
    text-align: center;
    color: white;
    font-size: 35px;
    font-family: 'Noto Sans KR', sans-serif;
}
.golink{
    margin-top: 5%;
    background-color: transparent;
    border-radius: 10px;
    padding: 0;
    transition-duration: 0.7s;
    padding: 5px;
    border: 2px solid white;
}
.golink:hover{
    opacity: 0.7;
    border-radius: 10px;
}
@media only screen and (max-width:480px){
    .mainVideo{
        height: 100%;
    }
    .DescExplain{
        top:600px;
        font-size: 19px;
        opacity: 1;
    }
    .golink{
        margin-top: 5%;
        padding: 3px;
        width: 180px;
    }
    .golink a{
        font-size: 20px;
    }
}
@media only screen and (min-width:481px) and (max-width:767px){
    .mainVideo{
        height: 100%;
    }
    .DescExplain{
        top:60%;
        font-size: 18px;
    }
    .golink{
        margin-top: 5%;
        padding: 4px;
    }
    .golink a{
        font-size: 18px;
    }
}
@media all and (min-width:768px) and (max-width:1023px){
    .mainVideo{
        height: 100%;
    }
    .DescExplain{
        top:90%;
        font-size: 25px;
    }
    .golink{
        margin-top: 5%;
        padding: 5px;
    }
    .golink a{
        font-size: 25px;
    }
}
@media only screen and (min-width:1024px) and (max-width:1280px){
    .mainVideo{
        height: 100%;
    }
    .DescExplain{
        top:100%;
        font-size: 30px;
    }
    .golink{
        margin-top: 5%;
        padding: 5px;
    }
    .golink a{
        font-size: 30px;
    }
}
@media only screen and (min-width:1281px) and (max-width:1384px){
    .mainVideo{
        height: 100%;
    }
    .DescExplain{
        top:125%;
        font-size: 34px;
    }
    .golink{
        margin-top: 5%;
        padding: 5px;
    }
    .golink a{
        font-size: 33px;
    }
}
@media only screen and (min-width:1385px) and (max-width:1559px){
    .mainVideo{
        height: 100%;
    }
    .DescExplain{
        top:130%;
        font-size: 34px;
    }
    .golink{
        margin-top: 5%;
        padding: 5px;
    }
    .golink a{
        font-size: 33px;
    }
}
@media only screen and (min-width:1600px) and (max-width:1900px){
    .mainVideo{
        height: 100%;
    }
    .DescExplain{
        top:140%;
        font-size: 34px;
    }
    .golink{
        margin-top: 5%;
        padding: 5px;
    }
    .golink a{
        font-size: 33px;
    }
}