.member_register_wrap{
    width:100%;
    margin:auto;
    text-align:center;
    overflow: hidden;
}

.member_register_wrap a{
    text-decoration:none;
    color: black;
}

.member_register_wrap .align {
    display:inline-block;
    zoom:1;
    margin-top:30px;
    margin-bottom: 15%;
}

.member_register_wrap img {
    width:50%;
    height:auto;
}

.member_register_wrap .ex_text{
    color:#242424;
    line-height:180%;
    margin-top: 10%;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 30px;
}

.member_register_wrap .bt_text {
    padding-top:5%;
    font-size: 30px;
    font-family: 'Noto Sans KR', sans-serif;
}

.member_register_wrap:after{
    clear:both;
    content:"";
    display:block;
}

.member_register_basic, .member_register_dealer{
    margin:0 auto;
    width:300px;
    height: 300px;
    padding:30px;
    display:inline-block;
    border: 1px solid #d5d5d5;
}

.member_register_basic {
    background-color:rgb(245, 246, 250);
    margin-right:20px;
}

.member_register_dealer {
    background-color:rgb(245, 246, 250);
}

@media only screen and (max-width:480px){
    .member_register_wrap .ex_text{
        margin-top: 55%;
        font-size: 16px;
    }
    .member_register_basic, .member_register_dealer{
        width: 120px;
        height: 140px;
    }
    .member_register_wrap .bt_text{
        font-size: 25px;
        padding-top: 3%;
    }
    .member_register_wrap .align{
        margin-bottom: 20%;
    }
}
@media only screen and (min-width:481px) and (max-width:767px){
    .member_register_wrap .ex_text{
        margin-top: 35%;
        font-size: 20px;
    }
    .member_register_basic, .member_register_dealer{
        width: 150px;
        height: 150px;
    }
    .member_register_wrap .bt_text {
        font-size: 20px;
        padding-top: 3%;
    }
    .member_register_wrap .align{
        margin-bottom: 42%;
    }
}
@media all and (min-width:768px) and (max-width:1023px){
    .member_register_wrap .ex_text{
        margin-top: 35%;
        font-size: 25px;
    }
    .member_register_basic, .member_register_dealer{
        width: 250px;
        height: 250px;
    }
    .member_register_wrap .bt_text {
        font-size: 25px;
        padding-top: 3%;
    }
    .member_register_wrap .align{
        margin-bottom: 40%;
    }
}
@media only screen and (min-width:1024px) and (max-width:1280px){
    .member_register_wrap .ex_text{
        margin-top: 20%;
        font-size: 25px;
    }
    .member_register_basic, .member_register_dealer{
        width: 270px;
        height: 270px;
    }
    .member_register_wrap .bt_text {
        font-size: 27px;
        padding-top: 3%;
    }
    .member_register_wrap .align{
        margin-bottom: 20%;
    }
}