body{
    margin: 0;
}
header{
    position: fixed;
    height: 75px;
    padding: 1em;
    color : white;
    background: rgb(108, 192, 145);
    font-weight: bold;
    display: flex;
    justify-content: flex-end; 
    /* 마지막부터 컴포넌트 배치 */
    align-items: center;
    /* 중앙정렬 */
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    /* 렌더링 가장 위 */
}
.navigate{
    position: relative;
    right: 10%;
    font-family: 'Roboto Condensed', sans-serif;
}
.title{
    position: relative;
    font-family: 'Pacifico', cursive;
    right: 70%;
    font-size: 30px;
}
.individualMenu{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
}
.banner{
    width: 100%;
    height: 750px;
    background: url("../images/MainImage.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
    justify-content: center;
    font-size: 50px;
    display: flex;
    position: relative;
    margin-top: 105px;
    text-align: center;
    opacity: 0.8;
}
.SiteExplain{   
    padding: 3em 2em 0em 2em;
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
}
.advantage{
    width: 20%;
    color: linen;
    margin-top: 60px;
    font-size: 25px;
    margin-left: 20px;
    margin-right: 20px;
}
.details{
    display: flex;
    justify-content: center;
}
#startid{
    display: inline-block;
    background: rgb(108, 192, 145);
    border-radius: 30px;
    font-size: 25px;
    width: 240px;
    height: 40px;
    color: white;
    border: 2px solid gray;
    padding: 10px;
    position: relative;
    bottom: 10px;
    font-weight: bold;
}
.description{
    display: flex;
    padding: 4em 2em 0em 2em;
    justify-content: center;
}
.footer{
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    width: 100%;
    height: 150px;
    background-color: rgb(108, 192, 145);
    padding: 3em 5em 4em 5em;
    color: white;
}
.footerDesc{
    position: relative;
    width: 30%;
    height: 180px;
    text-align: center;
}
a{
    text-decoration: none;
}
.title a , .individualMenu a{
    color: white;
}