body{
    margin: 0;
}
header{
    position: fixed;
    height: 75px;
    padding: 1em;
    color : white;
    background: rgb(108, 192, 145);
    font-weight: bold;
    display: flex;
    justify-content: flex-end; 
    /* 마지막부터 컴포넌트 배치 */
    align-items: center;
    /* 중앙정렬 */
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    /* 렌더링 가장 위 */
}
.navigate{
    position: relative;
    right: 10%;
    font-family: 'Roboto Condensed', sans-serif;
}
.title{
    position: relative;
    font-family: 'Pacifico', cursive;
    right: 70%;
    font-size: 30px;
}
.individualMenu{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    position: relative;
}
.individualMenu::after{
    transition: 0.3s;
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: white;
    left: 50%;
    bottom: -25%;
    transform: translate(-50%,-50%);
}
.individualMenu:hover::after{
    width: 100%;
}
.banner{
    width: 100%;
    height: 940px;
    font-size: 50px;
    display: flex;
    position: relative;
    top:0px;
    text-align: center;
}
/* 가상의 화면 */
.banner::after{
    width: 100%;
    height: 940px;
    content: '';
    background: url("../images/MainImage.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
    position: absolute;
    /* 흐리게 */
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
    top:0px;
    /* z-index로 뒤로가게끔함 */
    z-index: -1;
}
.banner .juyJUj{
    width: 100%
}
.SiteExplain{   
    padding: 6em 2em 0em 2em;
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
}
.advantage{
    width: 20%;
    color: white;
    margin-top: 60px;
    font-size: 25px;
    margin-left: 20px;
    margin-right: 20px;
}
.details{
    display: flex;
    justify-content: center;
}
#startid{
    display: inline-block;
    background: transparent;
    border-radius: 30px;
    font-size: 25px;
    width: 240px;
    height: 40px;
    color: white;
    border: 2px solid white;
    padding: 10px;
    position: relative;
    bottom: 10px;
    font-weight: bold;
    transition-duration: 0.7s;
}
#startid:hover{
    background-color: rgb(108, 192, 145);
}
.description{
    display: flex;
    padding: 4em 2em 0em 2em;
    justify-content: center;
}
.footer{
    position: relative;
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    width: inherit;
    height: 170px;
    background-color: rgb(108, 192, 145);
    padding: 3em 5em 4em 5em;
    color: white;
    bottom: 3px;
}
.footerDesc{
    position: relative;
    width: 30%;
    height: 180px;
    text-align: center;
}
a{
    text-decoration: none;
}
.title a , .individualMenu a{
    color: white;
}