.showBoardItem{
    display: flex;
    position: relative;
    margin:0 5% 10px 5%;
}
.askarea{
    padding-top:8%;
    background-color: white;
    border-bottom: 1px solid #d5d5d5;
}
.showBoardItem h1{
    padding-left : 3%;
    width: 90%;
    color: #111;
}
.boardinformation{
    display: flex;
    margin:0 5% 0 3%;
    font-family: 'Noto Sans KR', sans-serif;
}
.boardinformation hr{
    margin: 0;
    height: 20px;
    border: 1px solid #ddd;
}
.chat{
    width:60px;
    height: 60px;
    padding-top:15px;
}
.iconArea{
    margin: 0 0 0 80%;
    display:flex;
    padding-bottom: 10px;
}
.commentimg{
    border:0;
    width: 65px;
    height: 80px;
    background: white;
    margin-right: 25px;
    padding: 5px 0 0 0;
}
.commentimg p{
    margin:5px 0 0 0;
    position: relative;
    left: 2px;
    width:60px;
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
}
.listimg{
    width: 65px;
    height: 80px;
    padding: 5px 0 0 0;
    border:0;
    background: white;
}
.listimg p{
    position: relative;
    font-size: 15px;
    margin:5px 0 0 0;
    left: 2px;
    width:60px;
    font-family: 'Noto Sans KR', sans-serif; 
}
.icon{
    width: 40px;
    height: 40px;
}
.boardinformation p{
    margin:0 2% 2% 2%;
    font-size: 15px;
    color: #444;
}
.contents{
    font-family: 'Noto Sans KR', sans-serif;
    margin:0 20% 30px 20%;
    height:inherit;
    font-size: 20px;
    border: 1px solid #d5d5d5;
}
.writecontent{
    margin-left: 10px;
}
.blankArea{
    width: 100%;
    height: 40px;
}
.commentArea{
    padding: 5% 25% 5% 20%;
    height: 270px;
    background-color: white;
    opacity: 0;
}
.commentArea textarea{
    padding :10px 10px 10px 10px;
    font-family: 'Noto Sans KR', sans-serif;
    width: 98%;
    height: 50%;
    font-size: 15px;
    resize: none;
}
.Submitbtn{
    width: 100px;
    float: right;
    background-color: white;
    border: 2px solid rgb(108, 192, 145);
    transition-duration: 0.7s;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    margin-top: 20px;
}
.Submitbtn:hover{
    color: white;
    background-color: rgb(108, 192, 145);
}
.commentArea h1{
    margin: 0 0 10px 0;
}
.ranking{
    position: absolute;
    left: 82%;
    width: 13%;
    bottom: 53%;
    height: 30%;
    background-color: inherit;
    border: 2px solid rgb(108, 192, 145);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px;
}
.ranking b{
    margin-right: 10px;
    background-color: rgb(108, 192, 145);
    width: 20px;
    text-align: center;
    color: white;
    border: 1px solid lightgray;
}
.ranking div{
    display: flex;
    margin: 15px 0 15px 0;
}
/* 랭킹 텍스트 부분 */
.ranking p{
    margin: 0;
}
/* 댓글 부분 */
.comment{
    height: 200px;
    background-color: white;
    text-align: center;
    padding: 30px 20% 30px 20%;
    border :1px solid lightgray;
    margin-bottom: 10px;
    font-family: 'Noto Sans KR', sans-serif;
}
.rankingTitle{
    font-size: 20px;
    color: rgb(108, 192, 145);
    text-align: center;
}
.rankitem{
    transition-duration: 0.7s;
}
.rankitem:hover{
    color:darkgray;
    background-color: #efefef;
}
.rankitem p:hover{
    text-decoration: underline;
}
.comment p{
    float: left;
}
.comment h1{
    text-align: left;
}
.commentinform{
    display: flex;
}
.commentinform p{
    color: #444;
    margin: 0 10px 0 0;
}
.boardheader {
    background-color: #f7f7f7;
    border-top: 2px solid #434343;
    margin: 0 20% 0 20%;
}