.showBoardItem{
    display: flex;
    position: relative;
    margin:0 5% 10px 5%;
}
.askarea{
    padding-top:8%;
    background-color: white;
    border-bottom: 1px solid #d5d5d5;
}
.showBoardItem h1{
    padding-left : 3%;
    width: 90%;
    color: #111;
}
.boardinformation{
    display: flex;
    margin:0 5% 0 3%;
    font-family: 'Noto Sans KR', sans-serif;
}
.blank{
    width: 20%;
}
.chat{
    width:60px;
    height: 60px;
    padding-top:15px;
}
.iconArea{
    margin: 0 0 0 80%;
    display:flex;
    padding-bottom: 10px;
}
.commentimg{
    border:0;
    width: 65px;
    height: 80px;
    background: white;
    margin-right: 25px;
    padding: 5px 0 0 0;
}
.deletebtn{
    width: 100px;
    height: 40px;
    position: relative;
    float: right;
    font-size: 20px;
    background-color: transparent;
    border: 1px solid rgb(80, 81, 83);
    transition: 0.7s;
}
.deletebtn:hover{
    background-color: rgb(255,0,0);
    color: white;
}
.updatebtn{
    width: 100px;
    height: 40px;
    position: relative;
    float: right;
    font-size: 20px;
    background-color: transparent;
    border: 1px solid rgb(80, 81, 83);
    margin:0 10px;
    transition: 0.7s;
}
.updatebtn:hover{
    background-color: rgb(0, 144, 255);
    color: white;
}
.commentimg p{
    margin:5px 0 0 0;
    position: relative;
    left: 2px;
    width:60px;
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
}
.listimg{
    width: 65px;
    height: 80px;
    padding: 5px 0 0 0;
    border:0;
    background: white;
}
.listimg p{
    position: relative;
    font-size: 15px;
    margin:5px 0 0 0;
    left: 2px;
    width:60px;
    font-family: 'Noto Sans KR', sans-serif; 
}
.icon{
    width: 40px;
    height: 40px;
}
.boardinformation p{
    margin:0 1% 2% 1%;
    font-size: 15px;
    color: #444;
    width: 21%;
    /* p사이즈변경 */
}
.option{
    width:50%;
}
.contents{
    font-family: 'Noto Sans KR', sans-serif;
    margin:0 20% 30px 20%;
    height:inherit;
    font-size: 20px;
    border: 1px solid #d5d5d5;
}
.writecontent{
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Noto Sans KR', sans-serif;
    white-space: pre-wrap;
}
.blankArea{
    width: 100%;
    height: 40px;
}
.commentArea{
    padding: 5% 20% 5% 20%;
    height: 270px;
    background-color: white;
    opacity: 0;
}
.commentArea textarea{
    padding :10px 10px 10px 10px;
    font-family: 'Noto Sans KR', sans-serif;
    width: 98%;
    height: 50%;
    font-size: 15px;
    resize: none;
}
.Submitbtn{
    width: 100px;
    float: right;
    background-color: white;
    border: 2px solid rgb(108, 192, 145);
    transition-duration: 0.7s;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    margin-top: 20px;
}
.Submitbtn:hover{
    color: white;
    background-color: rgb(108, 192, 145);
}
.commentArea h1{
    margin: 0 0 10px 0;
}
.ranking{
    position: absolute;
    left: 82%;
    width: 13%;
    bottom: 53%;
    height: 30%;
    background-color: inherit;
    border: 2px solid rgb(108, 192, 145);
    padding: 10px;
}
.ranking b{
    margin-right: 10px;
    background-color: rgb(108, 192, 145);
    width: 20px;
    text-align: center;
    color: white;
    border: 1px solid lightgray;
}
.ranking div{
    display: flex;
    margin: 15px 0 15px 0;
}
/* 랭킹 텍스트 부분 */
.ranking p{
    margin: 0;
}
/* 댓글 부분 */
.comment{
    background-color: white;
    padding: 30px 20% 70px 20%;
    border :1px solid lightgray;
    margin-bottom: 10px;
    font-family: 'Noto Sans KR', sans-serif;
    height: auto;
}
.rankingTitle{
    font-size: 20px;
    color: rgb(108, 192, 145);
    text-align: center;
}
.rankitem{
    transition-duration: 0.7s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.rankitem:hover{
    color:darkgray;
    background-color: #efefef;
}
.rankitem p:hover{
    text-decoration: underline;
}
.comment pre{
    margin: 10px 10px;
    font-family: 'Noto Sans KR', sans-serif;
    white-space: pre-wrap;
}
.comment h1{
    text-align: left;
    margin: 0 0 10px 0;
}
.commentinform{
    display: flex;
}
.commentinform p{
    color: #444;
    margin: 0 10px 10px 0;
}
.boardheader {
    background-color: #f7f7f7;
    border-top: 2px solid #434343;
    margin: 0 20% 0 20%;
}
.badge{
    border: 1px solid #aaa;
    border-radius: 10px;
    padding: 4px 5px;
    margin: 0 0 0 5px;
}
#updateText{
    padding :10px 10px 10px 10px;
    font-family: 'Noto Sans KR', sans-serif;
    width: 98%;
    height: 50%;
    font-size: 15px;
    resize: none;
}
.confirmbtn{
    position: relative;
    width: 11%;
    float: right;
    font-size: 20px;
    background-color: white;
    border: 2px solid rgb(108, 192, 145);
    transition-duration: 0.7s;
    font-family: 'Noto Sans KR', sans-serif;
    margin-top: 10px;
}
.confirmbtn:hover{
    color: white;
    background-color: rgb(108, 192, 145);
}
@media only screen and (max-width:480px){
    .askarea{
        padding-top: 15%;
    }
    .boardheader{
        margin:0 10%;
    }
    .chat{
        width:30px;
        height: 30px;
    }
    .showBoardItem h1{
        font-size: 19px;
    }
    .boardinformation{
        margin:0 1%;
    }
    .blank{
        width:0;
    }
    .boardinformation p{
        font-size: 10px;
    }
    .option{
        font-size: 10px;
        width:50%;
    }
    .contents{
        margin: 0 10% 20px 10%;
    }
    .writecontent{
        font-size: 15px;
    }
    .iconArea{
        margin: 0 0 0 60%;
    }
    .icon{
        width: 25px;
        height:25px;
    }
    .commentimg p {
        font-size: 13px;
    }
    .commentimg{
        margin-right: 0;
    }
    .listimg p{
        font-size: 13px;
    }
    .ranking{
        position: relative;
        left:10%;
        width: 75%;
        margin-bottom: 20px;
    }
    .comment{
        padding:20px 10%;
        font-size: 15px;
    }
    .deletebtn{
        font-size: 15px;
    }
    .commentArea{
        padding:20px 10%;
        font-size: 15px;
    }
}
@media only screen and (min-width:481px) and (max-width:767px){
    .askarea{
        padding-top: 15%;
    }
    .boardheader{
        margin:0 5%;
    }
    .chat{
        width:35px;
        height: 35px;
    }
    .showBoardItem h1{
        font-size: 19px;
    }
    .boardinformation{
        margin:0 1%;
    }
    .blank{
        width:0;
    }
    .boardinformation p{
        font-size: 13px;
    }
    .option{
        font-size: 13px;
        width:50%;
    }
    .contents{
        margin: 0 5% 20px 5%;
    }
    .writecontent{
        font-size: 17px;
    }
    .iconArea{
        margin: 0 0 0 70%;
    }
    .icon{
        width: 30px;
        height:30px;
    }
    .commentimg{
        margin-right: 0;
    }
    .ranking{
        position: relative;
        left:10%;
        width: 75%;
        margin-bottom: 20px;
    }
    .comment{
        padding:20px 10%;
        font-size: 17px;
    }
    .deletebtn{
        font-size: 15px;
    }
    .commentArea{
        padding:20px 10%;
        font-size: 17px;
    }
}
@media all and (min-width:768px) and (max-width:1023px){
    .askarea{
        padding-top: 15%;
    }
    .boardheader{
        margin:0 5%;
    }
    .chat{
        width:40px;
        height: 40px;
    }
    .showBoardItem h1{
        font-size: 23px;
    }
    .boardinformation{
        margin:0 1%;
    }
    .blank{
        width:0;
    }
    .boardinformation p{
        font-size: 13px;
    }
    .option{
        font-size: 13px;
        width:50%;
    }
    .contents{
        margin: 0 5% 20px 5%;
    }
    .writecontent{
        font-size: 17px;
    }
    .iconArea{
        margin: 0 0 0 75%;
    }
    .icon{
        width: 35px;
        height:35px;
    }
    .commentimg{
        margin-right: 0;
    }
    .ranking{
        position: relative;
        left:5%;
        width: 87%;
        margin-bottom: 20px;
    }
    .comment{
        padding:20px 10%;
        font-size: 17px;
    }
    .deletebtn{
        font-size: 20px;
    }
    .commentArea{
        padding:20px 10%;
        font-size: 17px;
    }
}
@media only screen and (min-width:1024px) and (max-width:1280px){
    .askarea{
        padding-top: 15%;
    }
    .boardheader{
        margin:0 5%;
    }
    .chat{
        width:40px;
        height: 40px;
    }
    .showBoardItem h1{
        font-size: 25px;
    }
    .boardinformation{
        margin:0 1%;
    }
    .blank{
        width:0;
    }
    .boardinformation p{
        font-size: 13px;
    }
    .option{
        font-size: 13px;
        width:50%;
    }
    .contents{
        margin: 0 5% 20px 5%;
    }
    .writecontent{
        font-size: 17px;
    }
    .iconArea{
        margin: 0 0 0 80%;
    }
    .icon{
        width: 35px;
        height:35px;
    }
    .commentimg{
        margin-right: 0;
    }
    .ranking{
        position: relative;
        left:5%;
        width: 88%;
        margin-bottom: 20px;
    }
    .comment{
        padding:20px 10%;
        font-size: 17px;
    }
    .deletebtn{
        font-size: 20px;
    }
    .commentArea{
        padding:20px 10%;
        font-size: 17px;
    }
}
@media only screen and (min-width:1281px) and (max-width:1384px){
    .askarea{
        padding-top: 10%;
    }
    .boardheader{
        margin: 0 20% 0 10%;
    }
    .contents{
        margin: 0 20% 20px 10%;
    }
    .ranking{
        bottom: 33%;
        width: 15%;
        height: 43%;
    }
    .comment {
        padding: 20px 20% 20px 10%;
        font-size: 18px;
    }
    .commentArea{
        padding: 20px 20% 20px 10%;
        font-size: 18px;
    }
}